.login-area {
    background: url(../images/back2.jpg) no-repeat;  
}
.login-area1 {
    background:  #F3F8FB;  
}
.bg-hero{
    background: url(../images/banner1.jpg);
    background-size: cover;
}

